*,
*::before,
*::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    min-height: 100vh;
    min-width: 100vw;
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: auto 4fr;
}

header{
    grid-column: 2 / -1;
    grid-row: 1 / 2;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: auto 80px;
    padding: .5rem 2rem;
}

main{
    background-color: rgb(142, 193, 223);
}

header .icon{
    height: 1.7rem;
    cursor: pointer;
}

header .profile-logo{
    cursor: pointer;
    height: 2.5rem;
}

header .top-left{
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    display: flex;
    gap: 1rem;
    align-items: center;
    flex: 1;
}

header input{
    flex: 1;
    border-radius: 20px;
    background-color: rgb(228, 221, 244);
    border: none;
    height: 1.5rem;
    padding-left: 1rem;
}

header input{
    outline: none;
    border: none;
}

header .top-right{
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.bottom-left{
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-rows: 1fr 1fr;
    gap: .5rem 1rem;
}

header .user-profile-logo{
    height: 4rem;
    cursor: pointer;
    justify-self: end;
    align-self: center;
}

.bottom-left .para,
.bottom-left .main-user-name{
    font-weight: bold;
}

.bottom-left .para{
    align-self: end;
}

.bottom-left .main-user-name{
    align-self: start;
    font-size: 1.5rem;
}

.top-right{
    display: flex;
    gap: .5rem;
}

.bottom-right{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
}

.bottom-right button{
    outline: none;
    border: none;
    border-radius: 20px;
    background-color: rgb(0, 132, 255);
    color: white;
    cursor: pointer;
    width: 6rem;
    height: 2rem;
}

.bottom-right button:hover{
    background-color: rgb(10, 100, 184);

}

/* 185 SIDEBAR */


.dashboard{
    grid-column: 1 / 2;
    grid-row: 1 / -1;
    background-color: rgb(0, 153, 255);
    color: white;
    padding: 1rem;
    display: grid;
    grid-template-rows: auto auto 1fr;
    gap: 3rem;
}

.dashboard .logo img{
    height: 2rem;
}

.dashboard .logo{
    display: flex;
    align-items: center;
    gap: 0.5rem;
    font-size: 2rem;
}

.dashboard ul{
    list-style-type: none;
}

.dashboard li{
    display: flex;
    align-items: center;
    gap: 1rem;
    margin-bottom: 1rem;
}

.dashboard a{
    color: white;
    text-decoration: none;
}

.dashboard ul li img{
    height: 2rem;
}

.dashboard p{
    font-weight: bold;
    cursor: pointer;
}

.dashboard p:hover{
    border-bottom: 2px solid white;
}

main{
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: 1fr 1fr;
    background-color: lightblue;
    padding: 20px;
}

main .projects{
    grid-column: 1 / 2;
    grid-row: 1 / -1;
    padding: .5rem;
}

main .announcements{
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    padding: .5rem;
}

main .trending{
    grid-column: 2 / 3;
    grid-row: 2 / 3;
}

.card{
    background-color: white;
    border: 1px solid black;
    border-radius: .5rem;
    padding: 10px;
}

.container{
    height: 80%;
    gap: 2rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
}

.announcements-container,
.trending-container{
    background-color: white;
    border-radius: 2rem;
    padding: 1rem;
    height: 80%;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
}

.announce{
    border-bottom: 1px solid grey;
}

.trending-container{
    grid-template-rows: 1fr 1fr 1fr 1fr;
}